<html>
        
        <head>
           <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
        </head>
        
        <body>
           
           <h3>Email = <%=@mail[:email]%></h3>
           <h3>Name = <%=@mail[:name]%></h3>
           

           
           <h3>Message = <%=@mail[:note]%></h3>
                    
           
        </body>
     </html>